{% extends "css3template_blog\blog_base.html" %}
{% load static %}
{% block head %}
    <title>CS Cards</title>
    <meta name="description" content="记录成长轨迹" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'computer_science_flash_cards/css/style.css' %}" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/8cea844162.js"></script>
    <script type="text/javascript" src="{% static 'computer_science_flash_cards/js/fastclick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'computer_science_flash_cards/js/general.js' %}"></script>
{% endblock head %}

