django==2.1.7
requests
django-contact-form
unidecode
Pillow
uwsgi
pymysql
django-taggit
markdown2
django-cors-headers
django-extensions==2.1.6
jupyter==1.0.0
jupyterlab
autopep8
jupyter_nbextensions_configurator