<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% block subtitle %}Unity of Knowledge and Practice{% endblock subtitle %}</title>
    <meta name="description" content="{% block metadescription %}Unity of knowledge and practice,focus on programing about python,java,machine learning,data mining,big data,spark,hadoop,deep learing and share my lives;知行合一，机器学习，深度学习，数据挖掘，同时分享生活。{% endblock metadescription %}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{% static 'blog_api/assets/images/favicon.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'blog_api/assets/css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog_api/css/gfm.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'blog_api/css/article.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog_api/css/format.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'blog_api/css/archive.css' %}" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'blog_api/css/hybrid.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <!-- load google-analytics -->
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-112661341-1', 'auto');
  	ga('send', 'pageview');
    </script>

</head>
<body class="author-template author-andre nav-closed">

<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home" role="presentation"><a href="/blog">Home</a></li>
        <li class="nav-home" role="presentation"><a href="/blog/archive">archive</a></li>
        <!--<li class="nav-home" role="presentation"><a href="/blog/shares">shares</a></li>-->
        <!--<li class="nav-home" role="presentation"><a href="/blog/happy_birthday_to_my_princess_huyao/">princess</a></li>-->
    </ul>
    <a class="subscribe-button icon-github" href="https://github.com/chengcx1019" target="_blank">Github</a>
</div>
<span class="nav-cover"></span>


<div class="site-wrapper">
<header class="main-header no-cover fixed-top">
    <nav class="main-nav overlay clearfix">
            <!-- <a class="blog-logo" href="http://changxin10m.com"><img src="{% static 'blog_api/assets/images/favicon.png' %}" alt=" Home" /></a> -->
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
    {% block headcontent %}

    {% endblock headcontent %}

</header>
{% block introduction %}

{% endblock introduction %}

<main class="content" role="main">
{% block content %}

{% endblock content %}
</main>


<footer class="site-footer clearfix">
    <section class="copyright"><a href="http://changxin10m.com/">Unity of Knowledge and Practice</a> &copy; 2018</section>
    <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
</footer>

    </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'blog_api/assets/js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'blog_api/assets/js/index.js' %}"></script>



<!--<script type="text/javascript" src="{% static 'blog_api/MathJax/MathJax.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'blog_api/MathJax/config/TeX-AMS-MML_HTMLorMML.js' %}"></script>-->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<!--<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
<!-- mathjax config similar tgit o math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$']],
        processEscapes: true,
        <!--skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']-->
    },
    TeX: {
        extensions: ["autobold.js", "autoload-all.js",  ],
    },

    messageStyle: "none",
    "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>

</body>
</html>
