{% extends 'css3template_blog/newlayout/base.html' %}
{% load static %}

{% block head %}
  <title>{{ blogpost.title }} - 知行合一</title>
  <meta name="description" content={{ blogpost.description }}>
{% endblock head %}

{% block content %}
{% autoescape off %}

<article class="post tag-postgres">
  <!-- <header> -->
    <p class="meta">
      <time pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">
        {{ blogpost.pub_date|date:'M'|upper }}
        {{ blogpost.pub_date|date:"dS"|upper }}, {{ blogpost.pub_date.year }}
      </time>
    </p>
    <header class="post-header title-link">
      {% if tag %}
        <h2 class="post-title"><a href="{{ blogpost.get_absolute_url }}?current_page={{ current_page }}&tag={{ tag }}"><b>{{ blogpost.title }}</b></a></h2>
      {% else %}
        <h2 class="post-title"><a href="{{ blogpost.get_absolute_url }}?current_page={{ current_page }}"><b>{{ blogpost.title }}</b></a></h2>
      {% endif %}
    </header>
  <!-- </header> -->
  <section class="post-excerpt">
      {{ blogpost.display_html }}
  </section>
  <footer class="post-meta">
      <img class="author-thumb" src="{% static 'css3template_blog/assets/images/ccx.jpeg' %}" alt="Changxin Cheng" nopin="nopin" />
      <a href="/blog/profile">Changxin Cheng</a>
      posted in
      {% for tag in blogpost.tags.all %}
        <a href="/tag/{{ tag.name }},">{{ tag.name }}</a>,
      {% endfor %}
      <time class="post-date" pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">{{ blogpost.pub_date|date:'M'|upper }}
      {{ blogpost.pub_date|date:"dS"|upper }}, {{ blogpost.pub_date.year }}</time>
  </footer>
  <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://unity-of-knowledge-and-practice.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
</article>
{% if current_page %}
<nav class="pagination" role="navigation">
  {% if tag%}
    <a class="next newer-posts" href="/tag/{{ tag }},{{ current_page }}/">← back</a>
  {% else %}
    <a class="next newer-posts" href="/{{ current_page }}/">← back</a>
  {% endif%}
</nav>
{% endif %}
{% endautoescape %}

{% endblock content %}
