{% extends 'css3template_blog/newlayout/newbase.html' %}
{% load static %}

{% block head %}
  <title>{{ blogpost.title }} - 知行合一</title>
  <meta name="description" content={{ blogpost.description }}>
{% endblock head %}

{% block content %}
{% autoescape off %}
<article class="post tag-postgres">
  <!-- <header> -->
  {% if current_page %}
    <a class="next newer-posts" href="/{{ current_page }}/">← back</a>
  {% endif %}
    <p class="meta">
      <time pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">
        {{ blogpost.pub_date|date:'M'|upper }}
        {{ blogpost.pub_date|date:"dS"|upper }}, {{ blogpost.pub_date.year }}
      </time>
    </p>
    <header class="post-header title-link">
        <h2 class="post-title"><a href="{{ blogpost.get_absolute_url }}"><b>{{ blogpost.title }}</b></a></h2>
    </header>
  <!-- </header> -->
  <section class="post-excerpt">
      {{ blogpost.display_html }}
  </section>
  <footer class="post-meta">
      <img class="author-thumb" src="{% static 'css3template_blog/assets/images/ccx.jpeg' %}" alt="Changxin Cheng" nopin="nopin" />
      <a href="/blog/profile">Changxin Cheng</a>
       on <a href="/tag/postgres/">postgres</a>
      <time class="post-date" pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">{{ blogpost.pub_date|date:'M'|upper }}
      {{ blogpost.pub_date|date:"dS"|upper }}, {{ blogpost.pub_date.year }}</time>
  </footer>
</article>
{% endautoescape %}

{% endblock content %}
