{% extends 'css3template_blog/newlayout/newbase.html' %}
{% load static %}

{% block headcontent %}
{% endblock headcontent %}

{% block introduction %}
<section class="author-profile inner away-top">
    <figure class="author-image">
        <div class="img" style="background-image: url({% static 'css3template_blog/assets/images/ccx.jpeg' %})"><span class="hidden">Changxin Cheng's Picture</span></div>
    </figure>
    <h1 class="author-title">Changxin Cheng</h1>
        <h2 class="author-bio"><p>Student at <a href="http://www.ustb.edu.cn/index.asp" target="_blank" >USTB</a>.</p><p>Find me on <a class ="icon-twitter" href="https://twitter.com/ChangXinCheng" target="_blank"></a>, <a href="http://weibo.com/2935771467/profile?topnav=1&wvr=6" target="_blank" >sina weibo</a> or <a href="https://github.com/ccxysfh" target="_blank">Github</a></p></h2>
    <div class="author-meta">
        <span class="author-location icon-location">Beijing</span>
        <span class="author-link icon-link"><a href="http://changxin10m.com">http://changxin10m.com</a></span>
        <span class="author-stats"><i class="icon-stats"></i> {{ blogpostsnum }} posts</span>
    </div>
</section>
{% endblock introduction %}

{% block content %}
{% if page > 1%}
<nav class="pagination" role="navigation">
  {% if newer_page %}
    <a class="next newer-posts" href="/{{ newer_page }}/">← Newer</a>
  {% endif %}
    <span class="page-number">Page {{ page }} of {{ max_page }}</span>
  {% if prev_page %}
    <a class="prev older-posts" href="/{{ prev_page }}/">Older →</a>
  {% endif %}
</nav>
{% endif %}
{% for blogpost in blogposts|slice:sl %}
  {% autoescape off %}
    <article class="post tag-postgres">
      <!-- <header> -->
        <p class="meta">
          <time pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">
            {{ blogpost.pub_date|date:'M'|upper }}
            {{ blogpost.pub_date|date:"dS"|upper }}, {{ blogpost.pub_date.year }}
          </time>
        </p>
        <header class="post-header title-link">
            <h2 class="post-title"><a href="{{ blogpost.get_absolute_url }}?current_page={{ page }}"><b>{{ blogpost.title }}</b></a></h2>
        </header>
      <!-- </header> -->
      <section class="post-excerpt">
          {{ blogpost.display_html }}
      </section>
      <footer class="post-meta">
          <img class="author-thumb" src="{% static 'css3template_blog/assets/images/ccx.jpeg' %}" alt="Changxin Cheng" nopin="nopin" />
          <a href="/blog/profile">Changxin Cheng</a>
          posted in
          {% for tag in blogpost.tags.all %}
            {{ tag.name }},
          {% endfor %}
          <time class="post-date" pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">{{ blogpost.pub_date|date:'M'|upper }}
          {{ blogpost.pub_date|date:"dS"|upper }}, {{ blogpost.pub_date.year }}</time>
      </footer>
    </article>
  {% endautoescape %}
{% endfor %}
<nav class="pagination" role="navigation">
  {% if newer_page %}
    <a class="next newer-posts" href="/{{ newer_page }}/">← Newer</a>
  {% endif %}
    <span class="page-number">Page {{ page }} of {{ max_page }}</span>
  {% if prev_page %}
    <a class="prev older-posts" href="/{{ prev_page }}/">Older →</a>
  {% endif %}
</nav>
{% endblock content %}
