<!DOCTYPE HTML>
{% load static %}
<html>

<head>
  {% block head %}
    <title>知行合一</title>
    <meta name="description" content="记录成长轨迹" />
  {% endblock head %}
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog_api/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog_api/css/gfm.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog_api/css/article.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog_api/css/hybrid.css' %}"/>
  <!-- modernizr enables HTML5 elements and feature detects -->
    <script type="text/javascript" src="{% static 'blog_api/js/modernizr-1.5.min.js' %}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  {% block pagecss %}{% endblock pagecss %}
  
  <script async src='//www.google-analytics.com/analytics.js'></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89704626-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
  <div id="main" style="position: relative;">
    <a href="https://github.com/ccxysfh">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
           src="{% static 'blog_api/images/forkme.png' %}"
           alt="Fork me on GitHub">
    </a>
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/blog">知行合一 <span class="logo_colour">践行之</span></a></h1>
          <h2>也许多少年后在某个地方，我将把往事回顾：一片树林里分出两条路，而我选择了人迹更少的一条，从此决定了我一生的道路。</h2>
        </div>
      </div>
      <nav>
        <div id="menu_container">
          <ul class="sf-menu" id="nav">
            <li><a href="/blog">Home</a></li>
            <li><a href="/blog/archive">archive</a></li>
            <li><a href="/blog/shares">shares</a></li>
            {% block navigator_ul %}
            <li><a href="/flash/cards">CS Cards</a></li>
            {% endblock navigator_ul %}
            <!-- 
            <li><a href="/blog/more">more</a>
              <ul>
                <li><a href="#">tickets remaining?</a></li>
                <li><a href="#">Drop Down Two</a>
                  <ul>
                    <li><a href="#">Sub Drop Down One</a></li>
                    <li><a href="#">Sub Drop Down Two</a></li>
                    <li><a href="#">Sub Drop Down Three</a></li>
                    <li><a href="#">Sub Drop Down Four</a></li>
                    <li><a href="#">Sub Drop Down Five</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down Three</a></li>
                <li><a href="#">Drop Down Four</a></li>
                <li><a href="#">Drop Down Five</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <div id="site_content">
      <div class="content_container">
        <span class="toggle-sidebar"></span>
        <div class="content">
        {% block content %}
          
        {% endblock content %}
        </div>
      </div>
    
      <aside id="sidebar_container">
          <div class="sidebar">
            <div class="bio" data-twttr-id="twttr-sandbox-0">
            <div class="illustration">
              <!-- <img src="/static/css3template_blog/images/thumbnail.png" alt="待定"> -->
              <h2 id="hi" style="font-size: 28px">Chengxin Cheng</h2>
            </div>
            <div class="clear"></div>
            <p>
              <ul>
                <li><a href='https://github.com/ccxysfh'>github</a></li></h4>
                <li><a href='http://weibo.com/2935771467/profile?is_all=1'>新浪微博</a></li>
              </ul>
            </p>
          </div>       
      </aside>
    </div>

    <div id="scroll">
        <a title="Scroll to the top" class="top" href="#"><img src="{% static 'blog_api/images/top.png' %}" alt="top"/></a>
    </div>
    <footer id="site-footer" style="padding-bottom: 20px">
        <p><img src="{% static 'blog_api/images/twitter.png' %}" alt="twitter"/>&nbsp;<img
                src="{% static 'blog_api/images/facebook.png' %}" alt="facebook"/>&nbsp;<img
                src="{% static 'blog_api/images/rss.png' %}" alt="rss"/></p>
      <p><a href="/blog">Home</a> | 
      <a href="/blog/archive">archive</a>
      <p>Copyright &copy; CSS3_abstract_bw | <a href="http://www.heartinternet.co.uk/web-hosting/">Hosting UK</a> | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
    </footer>
  </div>
  <!-- javascript at the bottom for fast page loading -->
  
<script type="text/javascript"
        src="{% static 'blog_api/js/jquery-2.0.3.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'blog_api/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'blog_api/js/jquery.easing-sooper.js' %}"></script>
<script type="text/javascript"
        src="{% static 'blog_api/js/jquery.sooperfish.js' %}"></script>
<script type="text/javascript">
  var sidebar = $('.toggle-sidebar');
  $(document).ready(function () {
    $('ul.sf-menu').sooperfish();
    $('.top').click(function () {
      $('html, body').animate({scrollTop: 0}, 1000);
      return false;
    });
  });
  $(window).load(function () {  // run this only after the entire page has loaded to get real height
    var toggle_height = $(".content").prop('scrollHeight') + 13.7;
    sidebar.css("height", toggle_height);
  });
  sidebar.hover( // use jquery-ui
    function () {
      $(this).animate({backgroundColor: '#EBEBEB'}, 10);
    },
    function () {
      $(this).animate({backgroundColor: '#f0f0f0'}, 10);
    }
  );
  $.fn.clicktoggle = function (a, b) {
    return this.each(function () {
      var clicked = false;
      $(this).click(function () {
        if (clicked) {
          clicked = false;
          return b.apply(this, arguments);
        }
        clicked = true;
        return a.apply(this, arguments);
      });
    });
  };
  sidebar.clicktoggle(
    function () {
      $('.content_container').css("margin-right", "11px");
      $(this).css("width", "19px");
      $('span.toggle-sidebar').addClass('alignright');
    },
    function () {  // return to original style
      $('.content_container').css("margin-right", "295px");
      $(this).css("width", "9px");
      $('span.toggle-sidebar').removeClass('alignright');
    }
  );
</script>
</body>
</html>
